# <center> <font color='blue'> <b> LINEAR REGRESSION </b> </font> </center>

In [3]:
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '2' 

import warnings
warnings.filterwarnings('ignore')

In [15]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers


from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer

## Loading data and pre-processing

In [89]:
df = pd.read_csv('data/Salary Data.csv')

df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [90]:
df.isna().sum()

Age                    2
Gender                 2
Education Level        2
Job Title              2
Years of Experience    2
Salary                 2
dtype: int64

In [91]:
df.dropna(inplace=True)

In [92]:
df.isna().sum()

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
dtype: int64

In [93]:
# Extract features (input variables)
X = df.drop('Salary', axis=1)  # Exclude the column representing the target variable

# Extract label (target variable)
y = df['Salary']  # Select the column representing the target variable

In [94]:
type(X), type(y)

(pandas.core.frame.DataFrame, pandas.core.series.Series)

We are going to:

- Normalize numerical columns
- One-hot encoding categorical values

In [105]:
# numerical variables
features_num = [
    "Age","Years of Experience",
]

# categorical variables
features_cat = [
    "Gender","Education Level","Job Title"
]

In [106]:


#https://towardsdatascience.com/building-a-one-hot-encoding-layer-with-tensorflow-f907d686bf39


# for numerical variables
transformer_num = make_pipeline(
    SimpleImputer(strategy="constant"), # there are a few missing values
    StandardScaler(),
)


# for categorical variables
transformer_cat = make_pipeline(
    SimpleImputer(strategy="constant", fill_value="NA"),
    OneHotEncoder(handle_unknown='ignore',sparse=False), # sparse false fundamental!! x errores de tipos con tF
)

# preprocessor
preprocessor = make_column_transformer(
    (transformer_num, features_num),
    (transformer_cat, features_cat),
)

In [107]:
# train/test split
X_train, X_test, y_train, y_test = train_test_split(X, y,  train_size=0.75)

X_train = preprocessor.fit_transform(X_train) # fit and transform
X_test = preprocessor.transform(X_test) # only transform

input_shape = [X_train.shape[1]]


type(X_train), input_shape, X_train.shape

(numpy.ndarray, [161], (279, 161))

In [112]:
def build_model():
  model = keras.Sequential([
    layers.Dense(100,input_shape=(161,)),
    layers.Dense(100),
      layers.Dense(150),
    tf.keras.layers.Dense(100),
    layers.Dense(1)
  ])

  optimizer = tf.keras.optimizers.RMSprop(0.001)

  model.compile(loss='mse',
                optimizer=optimizer,
                metrics=['mae', 'mse'])
  return model

In [113]:
model = build_model()

In [114]:
type(X_train)

numpy.ndarray

In [117]:
history = model.fit(
        X_train,y_train,
        validation_split=0.2,
        epochs=50,
        verbose=0
)

In [118]:
model.evaluate(X_test,y_test)

3/3 [==============================] - 0s 3ms/step - loss: 247929360.0000 - mae: 11631.2158 - mse: 247929360.0000

[247929360.0, 11631.2158203125, 247929360.0]

In [126]:




data = {
    "Years of Experience": [3.0],
    "Gender": ["Male"],
    "Education Level": ["PhD"],
    "Job Title": ["Data Analyst"],
    "Age": [32.0]
}

# Create the DataFrame
df = pd.DataFrame(data)



input_transformed = preprocessor.transform(df)


#input_transformed

prediction = model.predict(input_transformed)

1/1 [==============================] - 0s 65ms/step

In [127]:
prediction

array([[95281.914]], dtype=float32)